<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Coding Challenge - Back End {% endblock %}
</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
    </head>
    <body>
        <ul id="navigation">
            {% for item in navigation %}
                <li><a href="{{ item[1]  }}">{{ item[0] | trans }}</a></li>
            {% endfor %}
        </ul>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
